.warriors-primary {
    background-image: linear-gradient(to right, orange, black);
    color: black;
}

.rockets-primary {
    background-image: linear-gradient(to right, black, yellow);
    color: yellow;
}

.seed-color {
    background-color: black;
    color: white
}

.bug-size {
    width: 40%;
}

.score {
    color: black;
    background-color: white;
}

.cb-colors {
    background-color: gold;
    color: black;
}

.host-village-3 {
    background-color: red;
    color: lightgray !important;
}

.subtext {
    color: white;
    font-size: small;
}