name: Build Release

on:
  workflow_dispatch:
    inputs:
      deploy:
        description: 'Deploy to Github Pages'
        required: true
        default: true
        type: boolean
      docker:
        description: 'Build Docker Image'
        required: true
        default: true
        type: boolean
      tag:
        description: 'Release Tag, will be used by Docker if selected'
        required: false
        default: "v2.3"
        type: string
  workflow_call:
    inputs:
      deploy:
        description: 'Deploy to Github Pages'
        required: true
        default: true
        type: boolean
      docker:
        description: 'Build Docker Image'
        required: true
        default: true
        type: boolean
      tag:
        description: 'Release Tag, will be used by Docker if selected'
        required: false
        default: "v2.3"
        type: string
    outputs:
      tag:
        description: 'Release Tag'
        value: ${{ inputs.tag }}

env:
  ARTIFACT_NAME: ${{ vars.BUILD_ARTIFACT_NAME }}
  NEXT_PUBLIC_VERSION: ""

jobs:
  build:
    runs-on: github-actions-runner-self-hosted-k8s-pw
    strategy:
      matrix:
        node-version: [22.x]
    steps:
      - name: Checkout Main
        uses: actions/checkout@v6
      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Packages
        run: npm install
      - name: Set Version
        run: echo "NEXT_PUBLIC_VERSION=${{ inputs.tag }}" >> "$GITHUB_ENV"
      - name: Build Application
        run: npm run build
      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: ./out
